*.pyc
.idea/
output/2015SB12/
output/2016SB5/
output/SemEval-14/
output/toy.2016SB5/10.arb_Arab/
output/toy.2016SB5/10.deu_Latn/
output/toy.2016SB5/10.fra_Latn/
output/toy.2016SB5/10.pes_Arab.zho_Hans.deu_Latn.arb_Arab.fra_Latn.spa_Latn/
output/toy.2016SB5/10.pes_Arab/
output/toy.2016SB5/10.spa_Latn/
output/toy.2016SB5/10.zho_Hans/
output/toy.2016SB5/10/
output/toy.2016SB5/15.arb_Arab/
output/toy.2016SB5/15.deu_Latn/
output/toy.2016SB5/15.fra_Latn/
output/toy.2016SB5/15.pes_Arab.zho_Hans.deu_Latn.arb_Arab.fra_Latn.spa_Latn/
output/toy.2016SB5/15.pes_Arab/
output/toy.2016SB5/15.spa_Latn/
output/toy.2016SB5/15.zho_Hans/
output/toy.2016SB5/15/
output/toy.2016SB5/20.arb_Arab/
output/toy.2016SB5/20.deu_Latn/
output/toy.2016SB5/20.fra_Latn/
output/toy.2016SB5/20.pes_Arab.zho_Hans.deu_Latn.arb_Arab.fra_Latn.spa_Latn/
output/toy.2016SB5/20.pes_Arab/
output/toy.2016SB5/20.spa_Latn/
output/toy.2016SB5/20.zho_Hans/
output/toy.2016SB5/20/
output/toy.2016SB5/25.arb_Arab/
output/toy.2016SB5/25.deu_Latn/
output/toy.2016SB5/25.fra_Latn/
output/toy.2016SB5/25.pes_Arab.zho_Hans.deu_Latn.arb_Arab.fra_Latn.spa_Latn/
output/toy.2016SB5/25.pes_Arab/
output/toy.2016SB5/25.spa_Latn/
output/toy.2016SB5/25.zho_Hans/
output/toy.2016SB5/25/
output/toy.2016SB5/5.spa_Latn/
output/toy.2016SB5/5.zho_Hans/
output/toy.2016SB5/5.pes_Arab.zho_Hans.deu_Latn.arb_Arab.fra_Latn.spa_Latn/
output/toy.2016SB5/5.fra_Latn/
output/toy.2016SB5/5.deu_Latn/
data/raw/google/
*.rar
output/toy.2016SB5/5.arb_Arab/
.env
