# Requires Python 3.8

#python==3.8
# Core dependencies
numpy==1.23.5
pandas==1.4.4
seaborn
spacy==3.7.2
typing_extensions==4.4.0
tqdm==4.66.1
natsort
scikit-learn>=1.0.0
nltk==3.7
transformers==4.41.0
torch==1.13.1

# spacy-transformers
# python -m spacy download en_core_web_trf
# python -m spacy download en_core_web_sm   
# en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl

# NLP and backtranslation-related modules
sentence-transformers #for semantic simarlity of backtranslated review with original review
simalign==0.3         #for aligning words of backtranslated review to the original review
    # networkx==3.1
rouge                 #for evaluating backtranlated reviews vs. original review
sentencepiece == 0.1.99
deep-translator == 1.11.4

# topic modeling methods for aspect modeling
gensim==4.3.*
# bitermplus, contextualized_topic_models: Throwing Error : Commented out untill we don't need it.
    #bitermplus==0.6.10          #install it if you want to use btm model in the aspect modeling layer
    #contextualized_topic_models==2.5.0 --no-deps #install it if you want to use ctm model in the aspect modeling layer
# octis # #use Fani's Lab! fork at https://github.com/fani-lab/OCTIS followed by "cd src/octis/; python setup.py install"

# Evaluation and external tools
pytrec-eval-terrier




# Custom aspect modeling tools
bert-e2e-absa @ git+https://github.com/fani-lab/BERT-E2E-ABSA.git@master
    #fasttext @ git+https://github.com/facebookresearch/fastText.git    # Throwing Error : Commented out untill we don't need it.

# Utility libraries
pampy==0.3.0
returns==0.22.0
more-itertools==10.1.0

# needed for implicit dataset generation
# Environment and testing
openai
pytest
python-dotenv

# Configuration handling
hydra-core
omegaconf


